.comment-text {
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 0;
}

.comment-author {
    color: grey;
    margin-bottom: 0.5rem;
    font-size: 12px;
}

.comment-div {
    padding: 1rem;

}

.commentList {
    padding: 0;
}

@media screen and (max-width: 600px) {
  table thead {
    display: none;
  }
  table td {
    display: flex;
  }
  .table-data-hidden {
    visibility: hidden;
  }

  table td::before {
    content: attr(data-label);
    font-weight: bold;
    width: 120px;
    min-width: 120px;
  }
}

.error-msg {
    background-color: red;
}