<!DOCTYPE html>
<html lang="en">
{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

<body>

{% include "navbar.html" %}

<main id="main" class="main">

  <!-- Start Page Title -->

  <div class="pagetitle">
    <div class="row">
      <div class="col-6">
        <h1>New Project</h1>
      </div>
    </div>
  <div>
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit":"primary"}) }}
  </div>

  </div>


</main>

<!-- End #main -->

{% include "footer.html" %}

</body>

</html>