<!DOCTYPE html>
<html lang="en">
{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

<body>

{% include "navbar.html" %}

<main id="main" class="main">

  <!-- Start Page Title -->

  <div class="pagetitle">
    <div class="row">
      <div class="col-6">
        <h1>{{ current_project.name }}</h1>
      </div>
    </div>
  </div>

  <!-- End Page Title -->

  <!-- Project Information -->
  <section class="section">
    <div class="row">
      <div class="col">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Created By</th>
              <td colspan="2">{{ current_project.creator }}</td>
            </tr>
            <tr>
              <th scope="row">Total numbers of bugs</th>
              <td colspan="2">{{ current_project.bugs|length }}</td>
            </tr>
            <!--
            <tr>
              <th scope="row">Numbers of bugs fixed</th>
              <td colspan="2">6</td>
            </tr>
            <tr>
              <th scope="row">Numbers of bugs remaining</th>
              <td colspan="2">4</td>
            </tr>
            -->
          </tbody>
        </table>
      </div>
      <div class="col">
        <table class="table">
          <thead>
            <th scope="row">Users assigned:</th>
          </thead>
          <tbody>
          {% for user in project.users %}
            <tr>
              <td colspan="2">{{ user.name }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <!-- End Project Information -->

  <!-- Bugs Table -->
  <section class="section">
    <div class="row">
      <div class="col">

        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Project</th>
            <th scope="col">Bug</th>
            <th scope="col">Created</th>
            <th scope="col">Status</th>
            <th scope="col">Assigned</th>
            <th scope="col">Priority</th>
          </tr>
          </thead>
          <tbody>
          {% for bug in bugs %}
          {% if bug.project_id == current_project.name %}
          <tr id="tr-{{ bug.id }}">
            <td data-label="Id" scope="row">{{ bug.id }}</td>
            <td data-label="Project">{{ bug.project_id }}</td>
            <td data-label="Bug"><a href="{{ url_for('bug', index=bug.id) }}">{{ bug.title }}</a></td>
            <td data-label="Date">{{ bug.date }}</td>
            <td data-label="Status">
              {% if bug.status == 0 %}
              <span class="badge rounded-pill bg-danger">New</span>
              {% elif bug.status == 1 %}
              <span class="badge rounded-pill bg-info text-dark">In progress</span>
              {% elif bug.status == 2 %}
              <span class="badge rounded-pill bg-warning text-dark">In review</span>
              {% elif bug.status == 3 %}
              <span class="badge rounded-pill bg-success">Completed</span>
              {% endif %}
            </td>
            <td data-label="Assigned">{{ bug.assigned.name }}</td>
            <td class="table-data-hidden" data-label="Priority">{{ bug.priority }}</td>
          </tr>
          {% endif %}
          {% endfor %}
          </tbody>
        </table>

      </div>


    </div>
  </section>

</main>

<!-- End #main -->

{% include "footer.html" %}

</body>

</html>